In [1]:
# !pip install finance-datareader

In [2]:
import FinanceDataReader as fdr

#> '122870' : YG      -> KOSDAQ
#> '035900' : JYP     -> KOSDAQ
#> '005930' : 삼성전자
#> '066570' : LG전자


com_code = '066570'   
start_date = '2020-06-01'
end_date = '2021-04-16'

data = fdr.DataReader(com_code, start=start_date, end=end_date)

# excel 파일로 저장
data.to_excel('C:\Lab\kyoungmi_test1.xlsx')

data.head(5)

             Open   High    Low  Close   Volume    Change
Date
2020-06-01  59000  59500  58500  59200   550906 -0.001686
2020-06-02  59200  61000  59200  60000   846026  0.013514
2020-06-03  60500  62400  60500  62100  1433963  0.035000
2020-06-04  62800  63100  61200  62200   934862  0.001610
2020-06-05  62200  63000  61700  63000   860924  0.012862

In [3]:
type(data)

pandas.core.frame.DataFrame